jjj
*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
h1 {
    font-size: 50px;
}
.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.section{
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.active{
    top: 0;
    transition: 0.5s;
}
.gone-bottom{
    top: 100%;
    transition: 0.5s;
}
.gone-top{
    top: -100%;
    transition: 0.5s;
}

/*-------------------------------------------------First Screen*/
.main{
    background-color: #a3bbbe;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*logo*/
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 90%;
}
.logo div{
    width: 11%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
}
.letter1{
    background-image: url("../img/logo1.png");
}
.letter2{
    background-image: url("../img/logo2.png");
}
.letter3{
    background-image: url("../img/logo3.png");
}
.letter4{
    background-image: url("../img/logo4.png");
    margin-top: 12px;
}
.logo .letter5{
    background-image: url("../img/logo5.png");
    width: 7%;
}
.logo .letter6{
    background-image: url("../img/logo6.png");
    width: 8%;
}
.letter7{
    background-image: url("../img/logo7.png");
}
.letter8{
    background-image: url("../img/logo8.png");
}
.letter9{
    background-image: url("../img/logo9.png");
}
.logo div.shown{
    opacity: 1;
    transition: 0.5s;
}